html{
    background-color: #E8F4F8;
}

body{
    max-width: 1110px;
    margin: 50px auto;
    padding: 0 10px;
}

h1{
    font-size:xx-large;
    font-weight: bold;
    color: #002C5C;
}

#stat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.stat-card{
    flex: 1 1 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.card{
    background-color: #FFFFFF ;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    body {
        padding: 0 15px;
        margin: 20px auto;
    }

    h1 {
        font-size: x-large;
    }

    #stat {
        flex-direction: column;
    }

    .stat-card {
        width: 100%;
    }

    .card-actions {
        flex-direction: column;
        gap: 10px;
    }
}
